<?xml version='1.0' encoding='utf-8'?>
<Server port='-1'>
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="/home/vcap/app/WEB-INF/conf/tomcat-users.xml" />
  </GlobalNamingResources>
  <Service name='Catalina'>
      <Connector port='${http.port}' bindOnInit="false" connectionTimeout="20000"/>

      <Engine defaultHost='localhost' name='Catalina'>
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
          <Valve className="org.apache.catalina.valves.RemoteIpValve" protocolHeader="x-forwarded-proto"/>
          <Valve className="com.gopivotal.cloudfoundry.tomcat.logging.access.CloudFoundryAccessLoggingValve"
                 pattern='[ACCESS] %{org.apache.catalina.AccessLog.RemoteAddr}r %l %t %D %F %B %S vcap_request_id:%{X-Vcap-Request-Id}i'
                 enabled="${access.logging.enabled}"/>
          <Host name='localhost'>
              <Listener className="com.gopivotal.cloudfoundry.tomcat.lifecycle.ApplicationStartupFailureDetectingLifecycleListener"/>
          </Host>
      </Engine>
  </Service>
</Server>
